.blog-grid-section {
  /* background: #f4f4f4; */
  padding: 4.5rem 0;
}

.blog-grid-container {
  display: flex;
  gap: 2.7rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1423px;
  /* margin: 0 auto; */
}

.blog-grid-card {
  /* background: #f4f4f4; */
    border-radius: 16px;
    box-shadow: 0 2px 12px #bbb2;
    max-width: 370px;
    min-width: 445px;
    flex: 1 1 300px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 530px;
}

.blog-grid-img-wrap {
  width: 100%;
}

.blog-grid-img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

.blog-grid-meta {
  margin-top: 0.7rem;
  font-size: 1rem;
  color: #646464;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  margin-left: 0.6rem;
}

.blog-grid-title {
  margin: 0.57rem 0 0 0.6rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #222;
}

.blog-grid-summary {
  color: #949494;
  margin: 0.45rem 0 0 0.6rem;
  font-size: 1.03rem;
  min-height: 70px;
}

.blog-grid-tags {
  display: flex;
  gap: 0.7rem;
  margin: 0.8rem 0 0 0.6rem;
  flex-wrap: wrap;
}

.blog-grid-tag {
  border: 1px solid #ccc;
  background: #ececec;
  border-radius: 15px;
  font-size: 0.96rem;
  padding: 4.5px 15px;
  color: #333;
  font-weight: 600;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .blog-grid-container {
    gap: 1.2rem;
  }
  .blog-grid-card {
    max-width: 95vw;
    min-width: 220px;
  }
  .blog-grid-img {
    height: 170px;
  }
}

@media (max-width: 680px) {
  .blog-grid-container {
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
  }
  .blog-grid-card {
    max-width: 430px;
    min-width: 210px;
  }
}


