.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.cardService {
  width: 30%;       /* always 3 cards per row */
  height: 300px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.card-img {
  flex: 9;               /* 90% of height */
  width: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-desc {
  flex: 1;               /* 10% height */
  text-align: center;
  padding: 6px;
  background: #f7f7f7;
  font-size: 14px;
  color: #333;
}
