.compare-root {
  background: white;
  min-height: 100vh;
  padding: 28px;
  /* box-sizing: border-box; */
  /* border: 2px solid #2fa3ff; */
  border-radius: 8px;
  /* max-width: 1100px; */
  margin: 0 auto;
}

.compare-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.compare-logo {
  width: 34px;
  height: 34px;
  /* margin-right: 7px; */
  scale: 1.5;
}

.compare-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.compare-headline {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 17px;
}

.italic {
  font-style: italic;
  color: #444;
}

.compare-subtext {
  text-align: center;
  font-size: 1.06rem;
  color: #293742;
  margin-bottom: 35px;
}

.compare-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px;
  background: none;
  margin-top: 24px;
}

.compare-col-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.23rem;
  margin-bottom: 26px;
}

.compare-column {
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: flex-start;
}

.compare-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  font-size: 1.09rem;
  font-weight: 500;
  padding: 20px 24px;
  box-shadow: 0 2px 5px rgba(0,0,0,.02);
}

.darker {
  background: #444;
  color: #fff;
}

.lighter {
  background: #fff;
  color: #131313;
  border: 1px solid #f3f3f3;
}

.compare-check {
  width: 40px;
  height: 28px;
  margin-left: 14px;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .compare-root {
    padding: 8vw 1vw;
    max-width: 98vw;
  }
  .compare-table {
    gap: 16px;
  }
  .compare-headline { font-size: 1.2rem; }
}

@media (max-width: 600px) {
  .compare-table {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .compare-col-title {
    margin-bottom: 13px;
    font-size: 1.09rem;
  }
  .compare-row {
    font-size: 0.97rem;
    padding: 14px 9px;
  }
}

@media (max-width: 400px) {
  .compare-headline {font-size: 1.02rem;}
  .compare-row {font-size: .89rem;}
}
