
.journey-wrapper {
  width: 520px;
  height: 600px;
  margin: 120px auto;
  display: flex;
  gap: 30px;
}

/* Swipers */
.journey-swiper {
  height: 100%;
}

.journey-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* YEARS */
.journey-years-swiper {
  width: 100px;
}

.journey-year {
  font-size: 22px;
  color: #aaa;
  transition: all 0.4s ease;
}

.journey-year.is-active {
  font-size: 34px;
  color: #ffcc00;
}

/* CONTENT */
.journey-content-swiper {
  flex: 1;
}

.journey-content-slide {
  text-align: center;
}

.journey-content-slide h1 {
  font-size: 46px;
  color: #ffcc00;
}

.journey-content-slide p {
  font-size: 14px;
  line-height: 22px;
  padding: 0 20px;
}
