

/* ---------------section ------------------------------ */
.newsletter-bg {
  width: 100%;
  padding-top: 5rem;
}
.newsletter-flex {
  background:#e8e8e8;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 2.5vw;
}

/* LEFT SIDE */
.newsletter-left-news {
  min-width: 290px;
  flex: 1.7;
}
.new-text-tital{
  font-size: 3.875rem;
  font-weight: 900;
  line-height: 120%;
}
.newsletter-bar {
  display: flex;
  align-items: center;
  font-size: 1.18rem;
  gap: 0.45rem;
  margin-bottom: 2.1rem;
}
.newsletter-icon {
  color: #2271b1;
  font-size: 1.65rem;
  font-weight: 800;
  margin-right: 8px;
}
.newsletter-italic {
  font-style: italic;
  font-weight: 600;
  color: #868686;
}
.newsletter-title {
  font-weight: 800;
  font-size: 2.8rem;
  color: #181818;
  line-height: 1.05;
  margin: 0;
}
.newsletter-title-em {
  font-style: italic;
  font-weight: 800;
  color: #8d8d8d;
}

/* RIGHT SIDE */
.newsletter-right {
  flex: 1.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.15rem;
}
.newsletter-form-group {
  width: 100%;
}
.newsletter-form-label {
  font-weight: 700;
  font-size: 1.18rem;
  color: #686868;
  margin-bottom: 1.18rem;
  display: block;
}
.newsletter-input-row {
  display: flex;
  gap: 0;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #444;
  margin-bottom: 0.8rem;
}
.newsletter-input {
  font-size: 1.25rem;
  flex: 1;
  border: none;
  background: transparent;
  padding: 0.45rem 0;
  outline: none;
  color: #222;
}
/* .newsletter-submit-btn {
  background: #2583f1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 8px 15px 8px 14px;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.newsletter-submit-btn:hover {
  background: #166ac3;
} */
.newsletter-agree-text {
  font-size: 1rem;
  color: #535353;
  opacity: 0.9;
}
.newsletter-submit-btn{
  width: 100%;
  display: flex;
  justify-content: end;
  padding-top: 1rem;
}
/* RESPONSIVE DESIGN */
@media (max-width: 1250px) {
  .newsletter-flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6rem;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .newsletter-right, .newsletter-left {
    width: 100%;
    min-width: 200px;
    max-width: 100vw;
  }
  .newsletter-title {
    font-size: 2.1rem;
  }
}
@media (max-width: 620px) {
  .newsletter-flex {
    padding: 1.3rem 2vw 2.2rem 2vw;
    gap: 1.2rem;
  }
  .newsletter-title {
    font-size: 1.25rem;
  }
  .newsletter-bar {
    font-size: 1rem;
    margin-bottom: 1.05rem;
  }
  .newsletter-form-label {
    font-size: 1rem;
  }
  .newsletter-agree-text {
    font-size: 0.96rem;
  }
}
