@import "tailwindcss";


@font-face {
    font-family: heading;
    src: url("../fonts/Helovatica.ttf");
}


@font-face {
    font-family: Highs;
    src: url("../fonts/fonnts.com-Ivy-Presto-Headline-.otf");
}


.itly{
    font-family: Highs;
    color: #2a6fdf;

}


h1, h2,h3 span p li{
    font-family: heading;
}

::selection {
  background-color: #3C3C3C;
  color: #E8E8E8;
}



p{
    font-family: heading;
}


.applyfont{
    font-family: heading;
}




/* apply global space for website  */
.page_indenation {
padding-left: 2rem;   /* px-4 */
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .page_indenation {
    padding-left: 4rem;   /* md:px-16 */
    padding-right: 4rem;
  }
}

    
@media (min-width: 1024px) {
  .page_indenation {
    padding-left: 3rem;   /* lg:px-12 */
    padding-right: 3rem;
  }
}






@media (max-width:426px){
  .brand-logo {
    width: 50px;
    height: 50px;
}

.brand-name{
  font-size: 1.0rem;
  line-height: 150%;

}
 
.services-description{
  font-size: 1rem;
}

}


/* .brand-name-update{
  font-weight: 700;
    font-size: 1.5rem;
    color: #111;
    margin-left: -1rem;
    line-height: 150%;
} */




/* use for reponsive for comming soon page  */
@media(max-width:375px){
  .commingText{
    font-size: 20px;
  }
}




